/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Jun-2017, 18:40:04
    Author     : asus
*/



.theme {
    -fx-background-color: white;
    -fx-font-size: 18px;
}
.search-window{
    -fx-font-size: 18px;
}


.warning-label{
    -fx-text-fill: red;
}
.title {
    -fx-font-size: 24px;
}
#success {
    -fx-text-fill: derive(green,70%);
}

#main-menu {
    -fx-pref-tile-height: 40;
    -fx-pref-tile-width: 185;
}
/*.button {
    -fx-background-color:
        linear-gradient(
            derive(grey, 120%), 
            derive(grey, 90%)
        ),
        radial-gradient(
            center 50% -40%, 
            radius 180%, 
            derive(grey, 95%) 55%, 
            derive(grey, 75%) 55%
        );
    -fx-background-radius: 4, 3;
    -fx-background-insets: 0, 1;
    -fx-font-size:22px;
    -fx-text-fill: derive(grey, -60%);
    -fx-padding: 3 11 3 11;
}*/
#delete {
    -fx-background-color: derive(red, 70%);
    -fx-text-fill: white;
}

#submit {
    -fx-background-color: derive(green,70%);
    -fx-text-fill: white;
    
}

#table-view {
    -fx-alignment: CENTER-RIGHT;
}

.add-induk-vbox{
    -fx-background-color: #00AFD1;
}
.induk-elements{
    -fx-text-fill: white;
}


